div.page-header
  h1 Getting Started With Java
p Basic understanding and set up are essential before writing Java programs.
h2 How Java Works
ul
  li Write Java source code in normal text files with 
    strong .java
    |  extension, e.g. 
    em LongYC.java
  li Compile the source code into 
    strong .class
    |  files, e.g. 
    em LongYC.class
  li The .class files contain 
    strong bytecodes
    |  which can be 
    strong interpreted by a JVM (Java Virtual Machine)
    |  software to produce desired results.
h2 Requirements
ul
  li
    strong JRE (Java Runtime Environment)
    |  is required to run Java programmes; JRE includes JVM.
  li
    strong JDK (Java Development Kit)
    |  is required to compile Java source code into bytecodes; JDK includes JRE.
  li JRE & JDK for various platforms are available for download from 
    a(href='http://www.oracle.com/technetwork/java/javase/downloads/index.html' title='Java SE - Downloads | Oracle Technology Network | Oracle') Oracle official website.