div.page-header
  h1 First Java Programme
p After having the JDK up and running, now it is time to write a typical first “Hello World” program in Java. Create the Java file below using any text editor.
h2 Filename: MyFirstJava.java
pre
  | public class MyFirstJava
  | {
  |     public static void main (String[] args)
  |     {
  |         System.out.print(&quot;Hello World!&quot;);
  |     }
  | }
h2 Compile Source Code
ul
  li Fire up command prompt or terminal tool, go to the directory where the file resides.
  li Use the 
    strong javac
    |  command to compile. JDK path must be in the 
    code PATH
    |  environment variable.
  li
    pre javac MyFirstJava.java
  li
    code MyFirstJava.class
    |  will be created if the file is compiled successfully.
h2 Running The Programme
ul
  li Use the 
    strong java
    |  command to interpret the class file, do not include the 
    code .class
    |  extension.
  li
    pre java MyFirstJava
  li The “Hello World!” text will be displayed.
  li
    pre Hello World!
