div.page-header
  h1 Introduction To Java Programming
p While it is all right to learn Java as your first programming language, I highly recommend you to learn a procedural programming language (such as C) before moving into an object-oriented language like Java. It will make the learning process a lot easier.
h2 History, Version and Editions
ul
  li Started by James Gosling in year 1991 as the Oak programming language. As of year 2012, the latest version is Java 7 (version 1.7).
  li There are several editions of Java optimised for different purposes.
  li This note starts with 
    strong Java SE (Standard Edition)
    |  that covers the basics.
  li
    strong Java EE (Enterprise Edition)
    |  is more advanced and is widely used in the industry
h2 Basic Information
ul
  li Java is an 
    strong object-oriented
    |  programming language that is loosely based on C++. It focuses on interactions of objects instead of just step-by-step procedures.
  li Java is 
    strong platform independent
    | . A Java program can be easily made to run on Windows, UNIX, Linux and Mac with little or no modification on the code.
  li There are many more advanced features but knowing these should be good for starter.