doctype html
html(role='document')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Simple Java Notes
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/bootstrap-theme.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='#' title='Simple Java Notes') Simple Java Notes
    div.container(role='main')
      div.jumbotron
        h1 Simple Java Notes
        p
          | Trying to learn the Java programming language or doing a revision?
          | Make sense, as Java is one of the most popular programming languages that can be used to develop large scale corporate web applications or portable mobile applications.
          | Beginner or intermediate, here are some notes and tutorials that could help.
        p
          | The notes and tutorials here are kept short and easy-to-read.
          | They could be useful for quick refresh, reaffirm existing knowledge or kick start a learning process but it is best to obtain the details and specifications from official documentations.
      include:markdown ../md/introduction.md
      include:markdown ../md/getting-started.md
      include:markdown ../md/hello-world.md
      include:markdown ../md/understanding-hello-world.md
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
